streamlit
beautifulsoup4
nltk
requests
spacy>=3.0.0
transformers
requests
networkx
pandas
numpy
torch
torchvision
https://github.com/explosion/spacy-models/releases/download/en_core_web_lg-3.2.0/en_core_web_lg-3.2.0.tar.gz#egg=en_core_web_lg
matplotlib